<!-- Logout Panel -->
<div class="col-md-8 col-12 checkout_row" id="account-profile-logout-panel">
    <div class="profile-dashboard text-center">
        <h2 class="text-black text-center text-heading-size">Log out?</h2>
        <p class="text-black text-center">Are you sure you wish to log out?</p>
        <a href="{% url 'account_logout' %}" class="btn orange-btn text-center text-white rounded">Log Out</a>
        <a href="{% url 'products' %}" class="btn orange-btn text-center text-white rounded">Continue Shopping</a>
    </div>
</div>