<div class="col-md-4 col-12 profile-nav-wrapper">
    <div class="profile-nav checkout_row">
        <ul class="list-group profile-navigation-list">
            <a class="profile-nav-link-account text-black m-1" href='#' aria-label="profile nav My account button">
                <li class="list-group-item profile-active active profile-nav-link-text" id="account-profile"><i class="fas fa-fw fa-user pr-1"></i>My Account</li>
            </a>
            <a class="profile-nav-link-account text-black m-1" href='#' aria-label="profile nav my orders button">
                <li class="list-group-item profile-active profile-nav-link-text" id="account-orders"><i class="fas fa-fw fa-shopping-basket pr-1"></i>My Orders</li>
            </a>  
            <a class="profile-nav-link-account text-black m-1" href='#' aria-label="profile nav logout button">
                <li class="list-group-item profile-active profile-nav-link-text" id="account-logout"><i class="fas fa-fw fa-sign-out-alt pr-1"></i>Log Out</li>
            </a>      
        </ul>
    </div>
</div>