{% extends 'base.html' %}
{% block title %} DN Fitness | {{page_title}} {% endblock %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            
            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}
    <div class="white-overlay"></div>
        <h2 class="text-black text-center text-uppercase">Welcome</h2>
    <hr class="hr-black">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 p-3">
                <h3 class="text-black text-center text-uppercase">Who I am</h3>
                    <p class="text-black">I'm Darren, a fully qualified personal trainer and gym instructor for the last 5 years! I completed the Image Fitness Training course and currently work as a gym instructer and class co-ordinator at Sheldon Park Leisure Centre. I specialize in spin classes, strength and conditioning and 1 to 1 personal training. </p>
            </div>
            <div class="col-sm-12 col-md-6 p-3">
                <h3 class="text-black text-center text-uppercase">My Journey</h3>
                    <p class="text-black">Back in 2011 I decided to get working on my personal fitness and began losing weight by working out regularly and eating healthy, I tried everything I could to improve my fitness and weightloss! because of this I come as a veteran in the industry with a wealth of knowledge of do's and dont's and a heap of tips and tricks for your journey! I started at a weight of 110kg and now currently weigh 80kg</p>
            </div>
            <div class="col-sm-12 col-md-6 p-3">
                <h3 class="text-black text-center text-uppercase">How I did it</h3>
                    <p class="text-black">Hard work, hard work and hard work! there is no easy way to get fit or lose weight it is all about consistancy! I was consistant when going to the gym, I had a plan on what I would be doing each day and I would have a plan for my meals. With that I was consistantly in the gym on the days I was suppose to and continued working hard.</p>
            </div>
            <div class="col-sm-12 col-md-6 p-3">
                <h3 class="text-black text-center text-uppercase">My promise</h3>
                    <p class="text-black">As an experience veteran of the fitness world I can guarantee you your moneys worth each session without fail! Each workout completed will have you working on the limit throughout! and you will know you got your moneys worth!</p>
            </div>
        </div>  
    </div>  
    <div class="totop-button shadow-sm rounded-0 border border-black">
        <a class="totop-link d-flex h-100">
            <i class="fas fa-arrow-circle-up text-white mx-auto my-auto"></i>
        </a>   
    </div>
{% endblock  %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.totop-link').click(function(e){
            window.scrollTo(0,0)
        })
        </script>
{% endblock %}