{% extends 'base.html' %}
{% block title %} DN Fitness | {{page_title}} {% endblock %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}
    <div class="white-overlay"></div>
    <div class="container pt-5">
        <section class="row">
            <div class="col-12">
                <h2 class="text-black text-center text-uppercase">Contact</h2>
                <hr class="hr-black-long">
           </div>
        </section>

        <section class="row">
            <div class="col-sm-12 offset-md-2 col-md-8 contact-form">
                <form method="POST" class="form" action="{% url 'contact'%}">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <button class="btn orange-btn text-white" type="submit">Send Message</button>
                </form>    
            </div>
        </section>  
    </div>  
    
{% endblock  %}
