{% extends 'base.html' %}
{% block title %} DN Fitness | {{page_title}} {% endblock %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}
    <div class="white-overlay"></div>
    <div class="container">
        <section class="row">
            <div class="col-12">
                <h2 class="text-black text-center text-uppercase">Contact Us</h2>
                <hr class="hr-black">
                <h2 class="text-black"> thanks for your email</h2>
           </div>
        </section>  
    </div>  
    
{% endblock  %}
