{% extends 'base.html' %}
{% block title %} DN Fitness | {{page_title}} {% endblock %}
{% load static %}


{% block content %}
<section class="home-landing">
    <section class="landing-section">
        <div class="container-fluid h-100 hero-landing">
            <div class="container h-100 ">
                <div class="row h-100">
                    <div class="col my-auto">
                        <h2 class="display-4 text-uppercase mt-5 text-white text-center">
                            Welcome to DN Fitness
                        </h2>
                        <div class="my-5 button-box">
                            <div class="btn orange-btn rounded-1 text-uppercase py-3">
                                <a class="text-white" aria-label="Services" href="{% url 'products' %}">View our services</a>
                            </div>
                        </div>
                        <div class="my-5 button-box">
                            <div id="learn-more">
                                <h4 class="text-white">Read more</h4>
                                <a href="#about" aria-label="Learn More" class=" m-1"><div class="arrow">
                                    <span></span>
                                </div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-section" id="about">
        <div class="container-fluid h-100">
            <div class="row text-center pt-5">
                <div class="col-sm-12 col-md-6">
                    <img class="img-fluid about-image" src="{{ MEDIA_URL }}user-about.jpg" alt="About picture">
                </div>
                <div class="col-sm-12 col-md-6 text-center">
                    <h2 class="text-black display-1">Hello,</h2>
                    <h3 class="text-black hero-sub-text">a bit <span class="cart-colour">about</span> me:</h3>
                    <h4 class="text-black">I am Dean!</h4>
                    <p class="text-black about-info">
                    A professionally qualified personal trainer based in Dublin, Ireland.
                    10 years industry experience delivering a wide range of courses. 
                    I began my journey with a passion for fitness and wellbeing, health
                    and fitness is an important part of our daily lives and I am here to
                    help you reach your goals! Check out some of the classes we have to offer.
                    </p>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-sm-12 col-md-6 text-center">
                    <h3 class="text-black hero-sub-text"><span class="cart-colour">choosing</span> me:</h3>
                    <p class="text-black about-info">
                    You may be asking yourself, why choose this guy. 
                    Well, let me tell you that helping people with their health and fitness goals is my passion.
                    It has been my life and source of energy for over 10 years. 
                    I understand how the body works and I will show you how to make it optimally work for you. 
                    I’ve transformed my own body for men’s physique competitions. 
                    I’ve got skin in the game and practice what I preach.
                    </p> 
                </div>
                <div class="col-sm-12 col-md-6 text-center pb-5">
                    <img class="img-fluid about-image" src="{{ MEDIA_URL }}user-about-2.jpg" alt="About picture">
                </div>
            </div>
        </div>
    </section>
    <section class="contact-section">
        <div class="container-fluid get-intouch">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-center text-white hero-sub-text">Have questions? </h3>
                    <h4 class="text-center text-white hero-sub-text"></h4>
                    <h5 class="text-white "><span class="cart-colour">reach</span> out:</h5>
                    <div class="col-12 d-md-none">
                        <p class="text-white about-info">
                        If you have any questions, do not hesitate to get in touch!
                        All classes are tailored to your needs to ensure you get the most out your experience with us.
                        </p> 
                    </div>
                    <div class="d-none d-md-block col-6 offset-3">
                        <p class="text-white about-info">
                        If you have any questions, do not hesitate to get in touch!
                        All classes are tailored to your needs to ensure you get the most out your experience with us.
                        </p> 
                    </div>
                </div>
                <div class="col-12 text-center pt-3">
                    <button class="btn orange-button" aria-label="Contact us button"><a class="text-white" aria-label="Contact" href="{% url 'contact' %}">
                    <i class="far fa-arrow-alt-circle-right arrow-button"></i></a></button>
                </div>
            </div>
        </div>
    </section>    
</section>    
{% endblock  %}