{% extends 'base.html' %}
{% load static %}
{% block title %} DN Fitness | {{ user.username|title }}'s Profile {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}
    <div class="white-overlay"></div>
    <div class="container">
        {% include 'components/profile-header.html'%}
        <!--Profile Nav-->
        <section class="row mb-5">
            {% include 'components/profile-nav.html'%}
            <!--Account information panel-->    
            {% include 'components/account-information.html'%}
            <!--Order history panel-->   
            {% include 'components/order-panel.html'%}
            <!--Logout panel-->   
            {% include 'components/logout-panel.html'%}
        </section>
    </div>

{% endblock  %}