{% extends 'base.html' %}
{% load static %}
{% block title %} DN Fitness | Checkout {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}
    <div class="white-overlay"></div>
    <div class="container px-5">
        <div class="row">
            <div class="col-12">
                <div class="form-details-checkout">
                    <hr class="hr-black-long">
                    <h2 class="text-black text-uc mb-4 text-center">Thank you for shopping with us!</h2>
                    <hr class="hr-black-long">
                    <p class="text-black text-center">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="checkout_row p-2 border">
                    <h2 class="text-black text-uc mb-4 text-center">Your Order</h2>             
                    <div class="row text-center align-items-center text-black">
                        <div class="col-12">
                            <h6 class="text-small word-wrapper"><strong>Order ID:</strong> {{ order.order_number }}</h6>
                        </div>
                    </div>

                    <div class="row text-center align-items-center text-black">
                        <div class="col-12">
                            <p><strong>Order Date:</strong> {{ order.order_date }}</p>
                        </div>
                    </div>
                    {% for item in order.lineitems.all %}
                    <div class="div order-panel">
                        <div class="row order-line-items center-custom">
                            <div class="d-none d-md-block col-4">
                                <div>
                                    <img class="image-responsive image-box-shadow img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                </div>
                            </div>
                            <div class="col-6 text-black text-center">
                                <p><strong>{{ item.product.name }}</strong></p>
                                <p><strong>Quantity:</strong> {{ item.quantity }}</p>
                                <p><strong>Price:</strong> €{{ item.product.price }}</p>
                            </div>
                        </div>
                     </div>   
                    {% endfor %}
                    <div class="row order-line-items center-custom">
                        <div class="col-sm-12 col-md-4 text-black text-center">
                            <h5><strong>Order Total: €{{ order.grand_total }}</strong>
                        </div>
                        <div class="col-sm-12 col-md-4 text-black text-center">
                            <div class="">
                                <p>Need help with your order?</p>
                                <a class="btn orange-btn text-white" aria-label="Contact Us" href="#">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="center-custom">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn orange-btn text-white rounded mt-4 mr-1">
                        <span class="text-uppercase">Back to Profile</span>     
                    </a>
                {% else %}
                    <a href="{% url 'profile' %}" class="btn orange-btn text-white rounded mt-4 mr-1">
                        <span class="text-uppercase">Profile</span>     
                    </a>
                    <a href="{% url 'products' %}" class="btn orange-btn text-white button-styling rounded mt-4">
                        <span class="text-uppercase text-white">Continue Shopping</span>     
                    </a>
                {% endif %}    
                </div>
            </div>
        </div>
    </div>
{% endblock  %}
