{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}
{% block title %} DN Fitness | Checkout {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            
            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}
    <div class="white-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <hr class="hr-black-long">
                <h2 class="text-black text-uc mb-4 text-center">Checkout</h2>
                <hr class="hr-black-long">
            </div>
        </div>
        <div class="row p-5">
            <div class="col-sm-12 order-2 order-lg-1 col-lg-6 mr-2">
                <p class="text-black text-center pb-3 text-heading-size">Customer Details</p>
                <div class="row checkout_row form-details-checkout profile-nav">
                    {% include 'checkout/components/checkout-form.html'%}  
                </div>
            </div>
            <div class="col-sm-12 order-1 order-lg-2 col-lg-5">
                <p class="text-black text-center pb-3 text-heading-size">Order Summary</p>
                {% for item in cart_items %}
                <div class="row checkout_row">
                    <div class="col-sm-3 col-lg-3">
                        <div class="mw-100">
                        {% if item.product.image %}
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-9 col-lg-9">
                        <div class="cart_text_items text-black">
                            <h5>{{ item.product.name }}</h5>
                            <p class="my-0"><strong>€ {{ item.product.price }}</strong></p>
                            <p>Qty: {{ item.quantity }}</p>
                            <p class="my-0">Subtotal: €{{ item.product.price | calc_subtotal:item.quantity }}
                        </div>
                    </div> 
                </div>  
                {% endfor %}
                <div class="row checkout_row">
                    <div class="col-sm-12 col-lg-12 text-center">
                        <h4 class="text-black">Grand Total:</h4>
                        <p class="cart-colour pb-0 cart-grandtotal">€{{ grand_total|floatformat:2 }}</p>
                    </div>
                </div> 
            </div>
        </div>   
    </div>
{% include 'includes/spinner.html' %}
{% endblock  %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"stripe-public-key" }}
    {{ client_secret|json_script:"client-secret" }}
    <script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock %}