{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}
{% block title %} DN Fitness | Checkout {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            
            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}
    <div class="white-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <hr class="hr-black-long">
                <h2 class="text-black text-uc mb-4 text-center">Checkout</h2>
                <hr class="hr-black-long">
            </div>
        </div>
        <div class="row p-5">
            <div class="col-sm-12 order-2 order-lg-1 col-lg-6 mr-2">
                <p class="text-black text-center pb-3 text-heading-size">Customer Details</p>
                    <div class="row checkout_row form-details-checkout profile-nav">
                        <form action="{% url 'checkout'%}" method="POST" id="payment-form" class="pt-3">
                            {% csrf_token %}
                            <fieldset class="rounded px-3 mb-5">
                                <legend class="fieldset-label small text-black px-2 w-auto"></legend>
                                {{ order_form.full_name | as_crispy_field }}
                                {{ order_form.email | as_crispy_field }}
                                {{ order_form.phone_number | as_crispy_field }}
                                <div class="form-check form-check-inline float-right mr-0">
                                    {% if user.is_authenticated %}
                                        <label class="form-check-label" for="id-save-info">Save this information to my profile</label>
                                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                                    {% else %}
                                        <label class="form-check-label" for="id-save-info">
                                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                        </label>
                                    {% endif %}
                                </div>
                            </fieldset>
                            <fieldset class="rounded px-3">
                                <p class="text-black text-center">Payment Details</p>
                                <legend class="fieldset-label small text-black w-auto"></legend>
                                <!-- Stripe card to be inserted below.-->
                                <div class="mb-3" id="card-element"></div>
                                <div class="text-danger" id="card-errors" role="alert"></div>
                                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                            </fieldset>
                            <div class="submit-button text-center mt-5 mb-2">                    
                                <a href="{% url 'cart' %}" class="btn dark-btn rounded">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="font-weight-bold">Adjust Bag</span>
                                </a>
                                <button id="submit-button" class="btn orange-btn text-white rounded">
                                    <span class="font-weight-bold">Complete Order</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </button>
                                <p class="small text-danger my-0">
                                    <span class="icon">
                                        <i class="fas fa-exclamation-circle"></i>
                                    </span>
                                    <span>Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong></span>
                                </p>
                            </div>
                            
                        </form>
                    </div>
            </div>
        
            <div class="col-sm-12 order-1 order-lg-2 col-lg-5">
                <p class="text-black text-center pb-3 text-heading-size">Order Summary</p>
                {% for item in cart_items %}
                <div class="row checkout_row">
                    <div class="col-sm-3 col-lg-3">
                        <div class="mw-100">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        </div>
                    </div>
                    <div class="col-sm-9 col-lg-9">
                        <div class="cart_text_items text-black">
                            <h5>{{ item.product.name }}</h5>
                            <p class="my-0"><strong>€ {{ item.product.price }}</strong></p>
                            <p>Qty: {{ item.quantity }}</p>
                            <p class="my-0">Subtotal: €{{ item.product.price | calc_subtotal:item.quantity }}
                        </div>
                    </div> 
                </div>  
                {% endfor %}
                <div class="row checkout_row">
                    <div class="col-sm-12 col-lg-12 text-center">
                        <h4 class="text-black">Grand Total:</h4>
                        <p class="cart-colour pb-0 cart-grandtotal">€{{ grand_total|floatformat:2 }}</p>
                    </div>
                </div> 
            </div>
        </div>   
    </div>
{% include 'includes/spinner.html' %}
{% endblock  %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"stripe-public-key" }}
    {{ client_secret|json_script:"client-secret" }}
    <script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock %}