{% extends 'base.html' %}
{% load static %}
{% block title %} DN Fitness | Checkout {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}
    <div class="white-overlay"></div>
    <div class="container px-5">
        <div class="row">
            <div class="col-12">
                <div class="form-details-checkout">
                    <hr class="hr-black-long">
                    <h2 class="text-black text-uc mb-4 text-center">Thank you for shopping with us!</h2>
                    <hr class="hr-black-long">
                    <p class="text-black text-center">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="checkout_row p-2 border">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>Order ID:</p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p>{{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p>Order Date:</p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p>{{ order.order_date }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Details:</small>
                        </div>
                    </div>
                    {% for item in order.lineitems.all %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <img class="checkout-image-small img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                            
                            
                        </div>
                        <div class="col-12 col-md-4">
                            <p> {{ item.product.name }} </p>
                            <p>qty: {{ item.quantity }} @ €{{ item.product.price }} each</p>
                        </div>
                    </div>
                     {% endfor %}

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Billing Info:</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="center-custom">
                    <a href="#" class="btn dark-btn button-styling rounded mt-4 mr-1">
                            <span class="text-uppercase">My Profile</span>     
                    </a>
                    <a href="{% url 'products' %}" class="btn orange-btn button-styling rounded mt-4">
                        <span class="text-uppercase text-white">Continue Shopping</span>     
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}
