html {
    height: 100%;
  }

body {
    background: url('/media/home_background.jpg') no-repeat center
    center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color:rgb(109, 109, 109);
    font-family: 'Roboto', sans-serif;
}

.logo-font {
  text-transform: uppercase;
}

.text-black {
    color: #000000 !important;
}

.text-white {
  color: #fff !important;
}

.nav-link {
  max-width: 230px;
}

.overlay {
  height:100%;
  width: 100%;
  top:0;
  left:0;
  position: fixed;
  background:black;
  z-index: -1;
}


.totop-button {
  height:35px;
  width:35px;
  position:fixed;
  bottom:10px;
  right: 10px;
}

.totop-link {
  cursor: pointer;
}

/* Updated bootstraps container to help people with XL screens / curved screens */
@media (min-width: 1200px) {
  .container{
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  .header-container {
    padding-top: 164px;
  }
}

@media (max-width: 991px) {
  .header-container {
    padding-top: 117px;
  }

  body {
    height: calc(100vh - 116px);
  }
}