.allauth-mt {
    margin-top:164px;
}
.profile-nav {
    position: sticky;
    top: 6.25rem;
}
.profile-navigation-list{
    background: #fafafafa;
    border-radius: 6px;
    padding: 12px;
}

.word-wrapper{
    word-break: break-word;
}

.small-font-sizing {
    font-size: 0.8rem;
}

.profile-navigation-list li:active,
.profile-navigation-list li:hover,
.profile-navigation-list li:focus,
.list-group-item.active {
    background: orangered;
    color:#fff!important;
    border-color: transparent!important;
}

.profile-dashboard {
    padding: 1.4rem;
    background: #fafafa;
    border-radius: 6px;
}

.profile-dashboard-orders {
    display: none;
    padding: 1.4rem;
    border-radius: 6px;
    margin-bottom: 20px;
}

#account-profile-logout-panel {
    display: none;
}

.form-styling {
    color: #000;
    border: 1px solid #00000052;
    border-radius: 4px;
    font-size: 1rem;
}

.form-styling:focus {
    border-color:orangered
}