<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="classes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Classes
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contact" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bookings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bookings
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Checkout
            </a>
        </li>
    </ul>
</div>