<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="classes"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
            </a>
            <div class="dropdown-menu boarder-0" aria-labelledby="Classes Link">
                <a href="{% url 'products' %}?category=toning,fullbody,strength,weightloss" class="dropdown-item">All Services</a>
                <a href="{% url 'products' %}?category=weightloss" class="dropdown-item">Weight Loss</a>
                <a href="{% url 'products' %}?category=strength" class="dropdown-item">Strength</a>
                <a href="{% url 'products' %}?category=fullbody" class="dropdown-item">Full Body</a>
                <a href="{% url 'products' %}?category=toning" class="dropdown-item">Toning Workout</a>
            </div>    
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contact" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bookings" aria-haspopup="true" aria-expanded="false">
                Bookings
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about"  aria-haspopup="true" aria-expanded="false">
                Profile
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about" aria-haspopup="true" aria-expanded="false">
                Checkout
            </a>
        </li>
    </ul>
</div>