<a class="navbar-link text-decoration-none d-block d-md-none" aria-label="Brand Logo & Link to refresh" href="{% url 'home' %}">
            <img class="title-logo" src="/static/img/logowide.png">
            {% comment %} <img class="title-text" src="/static/img/text.png"> {% endcomment %}
        </a>
<li class="list-inline-item dropdown">
    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user-circle fa-lg"></i></div>
            <p class="my-0">My Profile</p>
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
            {% endif %}
            <a href="{% url 'profile'%}" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </div>
</li>

<li class="list-inline-item d-block d-lg-none">
    <a class="{% if grand_total %}cart-colour font-weight-bold{% else %}text-black {% endif %} nav-link" href="{% url 'cart' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-basket fa-lg"></i></div>
                <p class="my-0">
                {% if product_count %}
                <label class="my-0 product_counter-mobile">
                    {{ product_count }}
                </label>
                {% endif %}
                </p>
        </div>
    </a>
</li>