<nav class="nav-main fixed-top w-100">
    <div class="nav-main-logo">
        <a aria-label="Home" href="{% url 'home' %}">
            <img class="title-logo" src="/static/img/logoSolo.png">
        </a>
    </div>
    <div class="nav-main-inner d-none d-lg-block">
        <div class="nav-main-list">
            <ul class="nav-main-list-container">
                <li class="nav-main-list-items"><a class="text-black font-weight-bold" aria-label="home" href="{% url 'home' %}">Home</a></li>
                <li class="nav-main-list-items"><a class="text-black font-weight-bold" aria-label="classes" href="{% url 'products' %}">Classes</a></li>
                <li class="nav-main-list-items"><a class="text-black font-weight-bold" aria-label="contact" href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    </div>
    {% include 'includes/icon-header.html'%}
</nav>
<div class="nav-background"></div>

