{% extends 'base.html' %}
{% load static %}
{% block title %} DN Fitness | Search Page {% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            
            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}
    <div class="white-overlay"></div>
     {% include 'templates/components/search-results.html'%}       
{% endblock  %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.totop-link').click(function(e){
            window.scrollTo(0,0)
        })
        </script>
{% endblock %}