<!-- Get in touch -->
<section class="contact-section">
    <div class="container-fluid get-intouch">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-center text-white hero-sub-text">Have questions? </h3>
                <h4 class="text-center text-white hero-sub-text"></h4>
                <h5 class="text-white "><span class="cart-colour">reach</span> out:</h5>
                <div class="col-12 d-md-none">
                    <p class="text-white about-info">
                    If you have any questions, do not hesitate to get in touch!
                    All classes are tailored to your needs to ensure you get the most out your experience with us.
                    </p> 
                </div>
                <div class="d-none d-md-block col-6 offset-3">
                    <p class="text-white about-info">
                    If you have any questions, do not hesitate to get in touch!
                    All classes are tailored to your needs to ensure you get the most out your experience with us.
                    </p> 
                </div>
            </div>
            <div class="col-12 text-center pt-3">
                <button class="btn orange-button" aria-label="Contact us button"><a class="text-white" aria-label="Contact" href="{% url 'contact' %}">
                <i class="far fa-arrow-alt-circle-right arrow-button"></i></a></button>
            </div>
        </div>
    </div>
</section>  