{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% include 'includes/head.html' %}
    <title>{% block title %}{% endblock %}</title>

   <title>DN Fitness</title>
  </head>
  <body>
    {% include 'includes/navbar.html'%}
    
    
    {% include 'includes/extra_css.html'%}

    {% include 'includes/messages.html'%}
      
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    {% include 'includes/scripts.html'%}
    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}
    
  </body>
</html>