{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% include 'includes/head.html' %}

    {% include 'includes/scripts.html'%}
   

   <title>DN Fitness</title>
  </head>
  <body>
    {% include 'includes/navbar.html'%}
          
    
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}
    
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
    
  </body>
</html>