{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% include 'includes/head.html' %}
    <title>{% block title %}{% endblock %}</title>

   <title>DN Fitness</title>
  </head>
  <body>
    {% include 'includes/navbar.html'%}
    {% include 'includes/mobile-nav-sidebar.html'%}
    {% include 'includes/messages.html'%}
      
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    {% include 'includes/footer.html'%}
    {% block postloadjs %}
    {% include 'includes/scripts.html'%}
    {% endblock %}
    
  </body>
</html>