<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <hr class="hr-black-long">
            <h2 class="text-black text-uc mb-4 text-center">Classes</h2>
            <hr class="hr-black-long">
        </div>
        <div class="col-12 text-center mt-2 mb-4">
        <div class="container">
            <a href="{% url 'products' %}?category=toning,fullbody,strength,weightloss" class="d-inline-block classes-text h5 text-black m-1" aria-label="classes">All Classes</a>|
            <a href="{% url 'products' %}?category=weightloss" class="d-inline-block classes-text h5 text-black m-1" aria-label="weight loss class link">Weight Loss</a>|
            <a href="{% url 'products' %}?category=strength" class="d-inline-block classes-text h5 text-black m-1" aria-label="strength class link">Strength</a>|
            <a href="{% url 'products' %}?category=fullbody" class="d-inline-block classes-text h5 text-black m-1" aria-label="fullbody class link">Full Body</a>|
            <a href="{% url 'products' %}?category=toning" class="d-inline-block classes-text h5 text-black m-1" aria-label="toning class link">Toning Workout</a>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="class-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                        <div class="card h-100 border-0 card-shadow">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}" class="products-border" aria-label="product detail link"> 
                                <div class="image-wrapper-products">
                                    <img class="card-img-top img-fluid rounded-top" src="{{ product.image.url }}" alt="{{ product.name }}" aria-label="product image">
                                </div>
                                <h3 class="product-text products-border text-center">{{ product.name }}</h3>
                            </a> 
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}" class="products-border" aria-label="product detail link">
                                <div class="image-wrapper-products">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" aria-label="product image">
                                </div>
                                <h3 class="product-text products-border text-center">{{ product.name }}</h3>
                            </a> 
                            {% endif %}
                            <div class="card-footer rounded-bottom text-center products-border p-0 b-0">
                                <div class="row">
                                    <div class="col pb-4">
                                        <p class="text-black mb-0  font-weight-bold">€{{ product.price }}</p>
                                        {% if product.rating %}
                                            <small class="cart-colour"><i class="fas fa-star mr-1"></i>{{ product.rating|floatformat:1 }} / 5</small>
                                        {% else %}   
                                            <small class="text-muted">No Rating</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>