<div class="container mt-2">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card text-center align-items-center">
                <div class="card-body">
                <h3 class="text-center text-black">Reviews</h3>
                    {% if reviews %}
                    {% for review in reviews %}
                    <div class="card-container">
                        <div class="review-card rounded">
                            <div class="review-card-header">
                                <h4 class="text-center text-black d-inline-block"><i class="fas fa-user d-block"></i>{{review.user}}</h4>
                            </div>
                            <p class="text-center text-black">{{review.comment}}</p>
                            <p class="text-center text-black">{{ review.rating|floatformat:0 }}/5</p>
                            {% if review.user == request.user %}
                            <a class="text-black" href="{% url 'edit_review' product.id %}">Edit</a>|
                            <a class="text-black" href="{% url 'delete_review' product.id %}">Delete</a> 
                            {% else %}
                            <p></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="text-black">Nobody has left a review for this product yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-5">
            <div class="card">
                <div class="card-body">
                <h3 class="text-center text-black">Leave a review</h3>
                {% if review_form  %}
                <form action="{% url 'add_review' product.id %}" method="POST" class="text-center text-black">
                    <div class="col-12 col-lg-8 offset-lg-2">
                        {% csrf_token %}
                        {{ review_form }}
                    </div>
                    <div class="col-sm-12 col-12 text-center">
                        <button class="btn orange-btn text-white" id="reviewbutton">Post review</button>
                    </div>
                </form>
                {% endif %}

                <p class="text-black text-center">Purchase to make a review</p>

                <p class="text-black text-center">Add your review</p>

                <p class="text-black text-center">Edit Your review</p>

                </div>
            </div>
        </div>
    </div>
</div>