{% extends 'base.html' %}
{% block title %} DN Fitness | All Products {% endblock %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            
            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}
    <div class="white-overlay"></div>
    {% include 'components/products-body.html'%}
    {% include 'components/to-top.html'%}
{% endblock  %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.totop-link').click(function(e){
            window.scrollTo(0,0)
        })
        </script>
{% endblock %}