{% extends 'base.html' %}
{% block title %} DN Fitness | All Products {% endblock %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            
            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}
    <div class="white-overlay"></div>
      <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <hr class="hr-black-long">
                <h2 class="text-black text-uc mb-4 text-center">Classes</h2>
                <hr class="hr-black-long">
            </div>
            <div class="col-12 text-center mt-2 mb-4">
            <div class="container">
                <a href="{% url 'products' %}?category=toning,fullbody,strength,weightloss" class="d-inline-block classes-text h5 text-black m-1">All Classes</a>|
                <a href="{% url 'products' %}?category=weightloss" class="d-inline-block classes-text h5 text-black m-1">Weight Loss</a>|
                <a href="{% url 'products' %}?category=strength" class="d-inline-block classes-text h5 text-black m-1">Strength</a>|
                <a href="{% url 'products' %}?category=fullbody" class="d-inline-block classes-text h5 text-black m-1">Full Body</a>|
                <a href="{% url 'products' %}?category=toning" class="d-inline-block classes-text h5 text-black m-1">Toning Workout</a>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="class-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
                            <div class="card h-100 border-0 card-shadow">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}" class="products-border"> 
                                    <div class="image-wrapper-products">
                                        <img class="card-img-top img-fluid rounded-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </div>
                                    <h3 class="product-text products-border text-center">{{ product.name }}</h3>
                                </a> 
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}" class="products-border">
                                    <div class="image-wrapper-products">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </div>
                                    <h3 class="product-text products-border text-center">{{ product.name }}</h3>
                                </a> 
                                {% endif %}
                                <div class="card-footer rounded-bottom text-center products-border p-0 b-0">
                                    <div class="row">
                                        <div class="col pb-4">
                                            <p class="lead mb-0  font-weight-bold">€{{ product.price }}</p>
                                            {% if product.rating %}
                                                <small class="cart-colour"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}   
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="totop-button shadow-sm rounded-circle border border-black">
        <a class="totop-link d-flex h-100">
            <i class="fas fa-arrow-circle-up text-white mx-auto my-auto"></i>
        </a>   
    </div>
{% endblock  %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.totop-link').click(function(e){
            window.scrollTo(0,0)
        })
        </script>
{% endblock %}